<%= form_for(@new_list, :remote => true) do |f| %>
  <div class="field hidden">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field hidden">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions offset10 span2">
    <%= f.submit :class=> "btn btn-primary add_list ", :value=>"Add List" %>
  </div>
  <br />
<% end %>
