<ul class="list" id="list_<%= list.id %>" data-url= <%= list_path(list)%> >
<h2 class="list_name" ><%= list.name %></h2>
	<a href="#" class="btn btn-success list_plus" >
	<i class="icon-white icon-plus"></i> </a>
<!-- The below form is avaiable only under lists->tasks view -->
<ul class="task_container" id="task_container_<%= list.id %>">
	<%= render 'layouts/tasks', :tasks=> tasks %>
</ul>

</ul>


