<ul class="list well span5" id="list_<%= list.id %>" data-url= <%= list_path(list)%> >

	<span class="list_actions">
		
		<a  href="#" class="btn btn-small list_save" style="display:none">
	    <i class="icon-ok"></i>
	    </a>

	    <a  class="btn btn-small  list_trash" >
	    <i class="icon-trash"></i>
	    </a>


	    <a  class="btn btn-small  unpin" >
	    	<%= image_tag("unpin.png", size: "16") %>
	    </a>

	</span>

	<span class="list_name" contentEditable="true" ><%= list.name %></span>

<% if defined? new_task then %>

<%= render 'layouts/task_form', :new_task => new_task, :form_namespace => "l_#{list.id}" %>

<!-- The below form is avaiable only under lists->tasks view -->
<ul class="task_container" id="task_container_<%= list.id %>">
	<%= render 'layouts/tasks', :tasks=> tasks %>
</ul>

<% end %>


</ul>


