<% if defined? new_task then %>

<%= form_for(new_task,remote: true,html: {:class => "task_form"}, namespace: form_namespace)  do |f| %>

<div class="field">
  <%= f.text_field :name, :class => "task_name", :placeholder => "add a todo" %>
</div>

<div class="field hidden">
  <%= f.label :list_id %><br>
  <%= f.number_field :list_id %>
</div>

<div class="actions hidden" >
  <%= f.submit %>
</div>

<% end %>

<% end %>